<h1>Listing plants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Familie</th>
    <th>Anforderung:</th>
    <th>Aussaatzeit</th>
    <th>Reifezeit</th>
  </tr>

<% @plants.each do |plant| %>
  <div id="plant.<%=to_html_tag plant.name %>">
  <tr>
    <td><%= link_to plant.name , plant%></td>
    <td><%=  link_to  plant.family_name, plant.family    %>
    </td>
    <td><%= plant.energy %></td>
    <td><%= render_seed_time(plant)%></td>
    <td><%= render_maturity_days(plant.maturity_time_in_days) %></td>
  </tr>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New Plant', new_plant_path %>
