<h1>Listing plants</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plants.each do |plant| %>
  <div id="plant.<%= plant.name %>">
  <tr>
    <td><%= plant.name %></td>
    <td><%= link_to 'Show', plant %></td>
    <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
    <td><%= link_to 'Destroy', plant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  </div>
<% end %>
</table>

<br />

<%= link_to 'New Plant', new_plant_path %>
