<p id="notice"><%= notice %></p>
<div id="plant.<%= to_html_tag @plant.name %>">
  <h1> <%= @plant.name %></h1>


  <p>
    <b>Gattung</b>
    <%= @plant.family_name %>
  </p>

  <p>
    <b>Anforderung:</b>
    <%= @plant.energy %>
  </p>

  <p>
    <b>Aussaatzeit</b>
    <%= render_seed_time(@plant)%>
  </p>

  <p>
    <b>Reifezeit</b>
    <%= render_maturity_days(@plant.maturity_time_in_days)%>
  </p>

  <p>
    <b>Reifezeitungenauigkeit</b>
    <%= render_variability_in_percent  @plant.variability_in_percent%>
  </p>

  <% if(@plant.maturity_time_in_days) %>
    <h2>Erntezeit berechnen</h2>
    <p>Aussaatzeit </p>
   selected  <%= @selected_seed_day %> <%= @selected_seed_month %><br/>

    <div id="plant.calculate_harvest_time">
      <%= form_tag({:action => "calculate_harvest_time"}, {:method => "get"}) do %>
        <%= select :harvest_time_calculation, :seed_day, %w{Anfang Mitte Ende} ,{:selected => @selected_seed_day} %>
        <%= select :harvest_time_calculation, :seed_month, render_months(@plant.seed_months), {:selected => @selected_seed_month} %>
        <%= submit_tag("Berechnen") %>
      <% end %>

      <%= @harvest_time %>
    </div>
  <% end %>


  <%= link_to 'Edit', edit_plant_path(@plant) %> |
  <%= link_to 'Destroy', @plant, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'Back', plants_path %>

</div>