<p id="notice"><%= notice %></p>
<div id="plant.<%= to_html_tag @plant.name %>">
  <p>
    <b>Name:</b>
    <%= @plant.name %>
  </p>

  <p>
    <b>Gattung</b>
    <%= @plant.family_name %>
  </p>

  <p>
    <b>Anforderung:</b>
    <%= @plant.energy %>
  </p>

  <p>
    <b>Aussaatzeit</b>
     <%= render_seed_time(@plant)%>
  </p>

   <p>
    <b>Reifezeit</b>
     <%= render_maturity_days(@plant.maturity_time_in_days)%>
  </p>
  
   <p>
    <b>Reifezeitungenauigkeit</b>
     <%= render_variability_in_percent  @plant.variability_in_percent%>
  </p>


  <%= link_to 'Edit', edit_plant_path(@plant) %> |
   <%= link_to 'Destroy', @plant, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'Back', plants_path %>

</div>